.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #0471A6;
  color: white;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.event-form {
  max-width: 600px;
  margin-top: 1em;
}

.event-form, label {
  text-align: start;
  font-size: 17px;
}

.event-form > input, textarea {
  width: 100%;
  border: 1px solid #898989;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  font-size: 18px;
}

input, textarea:focus {
  border-color: dodgerblue;
}

.header {
  text-align: start;
}

#sendBtn {
  background: #0471A6;
  color: #fff;
  font-size: 20px;
  margin: 1rem 0;
  font-family: 'Sen', sans-serif;
  font-weight: 700;
}

#sendBtn:hover {
  background: rgb(3, 94, 139);
}

#headerNumber {
  background: #0471A6;
  color: #fff;
  width: 40px;
  height: 30px;
  text-align: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
}

#headerText {
  margin: 0px;
  padding-left: 10px;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  color: #464646;
}