.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: dimgray;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


.header {
  text-align: start;
}

.form-label {
  text-align: start;
}

GooglePlacesAutocomplete {
  border-radius: 20px;
}